In [16]:
import numpy as np
import pandas as pd
from scipy import stats
from utils import get_data, save_data, get_test_preds, add_intervals_to_test, all_tests, save_param_values, get_race_info 
from plots import plots_for_race, plot_interval_checks
np.random.seed(2025)

race = "bos"
size1, size2 = 2000, 20000
train_yr, test_yr = [2021, 2022, 2023], [2024]

# save_data(race_list=["bos", "nyc", "chi"], size_train=size1, size_test=size2, train_lis=train_yr, test_lis=test_yr)
train, test = get_data(racename=race, size_train=size1, size_test=size2, train_lis=train_yr, test_lis=test_yr, save=False)
params = save_param_values(race)
get_race_info()

models, baseline = ["M1", "M2", "M3"], "BL"
test_preds = get_test_preds(test, race, baseline=baseline, full=False)
test_preds

,id,dist,curr_pace,total_pace,finish,age,gender,year,male,malexage,alpha,lvl,BL,M1,M2,M3
11773,77411,5K,3.238342,3.238342,3.201199,46,F,2024,0,0,1,1,-2.519733,12.092461,12.089502,13.315377
14516,80154,5K,3.649635,3.649635,3.030162,56,F,2024,0,0,1,1,-39.392833,-28.373412,-28.363746,-25.464919
4385,70023,5K,4.111842,4.111842,3.720571,36,M,2024,1,36,1,1,-17.986267,-9.707248,-9.689351,-10.116224
17258,82896,5K,3.373819,3.373819,2.833591,49,M,2024,1,49,1,1,-39.740033,-26.469308,-26.467352,-26.512003
23673,89311,5K,2.554931,2.554931,2.180507,30,F,2024,0,0,1,1,-47.264617,-21.928033,-21.976241,-26.611108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190181,78985,40K,2.645503,3.111872,3.103030,37,F,2024,0,0,1,8,-0.643946,0.108671,1.364425,1.238650
192506,81310,40K,2.862049,2.957705,2.954004,58,F,2024,0,0,1,8,-0.297842,0.501190,0.056760,0.126227
186340,75144,40K,2.930832,3.383808,3.345889,37,M,2024,1,37,1,8,-2.355377,-1.672925,-0.647388,-0.670084
190297,79101,40K,3.158560,3.088326,3.096199,57,M,2024,1,57,1,8,0.579017,1.338378,0.198437,0.351376
179862,68666,40K,3.828484,3.883118,3.882499,30,F,2024,0,0,1,8,-0.028877,0.553409,0.216847,0.128008

In [17]:
test_list = [["BL", "M1"], ["BL", "M2"], ["BL", "M3"],["M1", "M2"], ["M1", "M3"], ["M2", "M3"]]
tbl2 = all_tests(test_preds, test_list, savename=f"analysis/tables/{race}_stattest.csv")
print(tbl2)

comp_model = "M2"
error_tbl = plots_for_race(test_preds, race, models, baseline, comp_model)
error_tbl

/Users/brandononyejekwe/Documents/Personal_Projects/Marathon_Predictor/utils.py:249: UserWarning: p-value floored: true value smaller than 0.001. Consider specifying `method` (e.g. `method=stats.PermutationMethod()`.)
  value = stats.anderson_ksamp([arr1, arr2]).pvalue
/Users/brandononyejekwe/Documents/Personal_Projects/Marathon_Predictor/utils.py:249: UserWarning: p-value capped: true value larger than 0.25. Consider specifying `method` (e.g. `method=stats.PermutationMethod()`.)
  value = stats.anderson_ksamp([arr1, arr2]).pvalue

            KS Wilcoxon      CVM     AD
BL-M1  <0.0001  <0.0001  <0.0001  0.001
BL-M2  <0.0001  <0.0001  <0.0001  0.001
BL-M3  <0.0001  <0.0001  <0.0001  0.001
M1-M2  <0.0001  <0.0001  <0.0001  0.001
M1-M3  <0.0001  <0.0001  <0.0001  0.001
M2-M3   0.2328   0.1002   0.1916  0.250
File saved: analysis/plots/bos_error_bar.jpg
File saved: analysis/tables/bos_error.csv
File saved: analysis/plots/bos_error_groups.jpg
File saved: analysis/plots/bos_error_gender_age.jpg

,BL,M1,M2,M3,pcnt_M1,pcnt_M2,pcnt_M3
5K,24.431269,15.381507,15.381855,15.405863,0.370417,0.370403,0.369420
10K,22.890636,14.074861,13.047125,12.942427,0.385126,0.430023,0.434597
15K,20.833577,12.073374,10.882058,10.818540,0.420485,0.477667,0.480716
20K,18.622429,10.727315,9.365817,9.218700,0.423957,0.497068,0.504968
25K,14.777327,8.378577,6.935286,6.815938,0.433011,0.530681,0.538757
30K,10.392143,6.512520,4.446546,4.411190,0.373323,0.572124,0.575526
35K,5.229800,3.757338,2.573155,2.651240,0.281552,0.507982,0.493051
40K,1.252623,1.041639,0.765279,0.744581,0.168434,0.389059,0.405582
Overall MAE,14.828000,9.002000,7.928000,7.879000,NaN,NaN,NaN
Overall $R^2$,0.787000,0.897000,0.903000,0.904000,NaN,NaN,NaN

In [18]:
# train_full, test_full = get_data(racename=race, size_train=None, size_test=None, train_lis=train_yr, test_lis=test_yr, save=False)
# print(stats.ks_2samp(train["finish"], train_full["finish"]).pvalue)
# print(stats.anderson_ksamp([train["finish"], train_full["finish"]]).pvalue)
# print(stats.ks_2samp(test["finish"], test_full["finish"]).pvalue)
# print(stats.anderson_ksamp([test["finish"], test_full["finish"]]).pvalue)

# print(stats.ks_2samp(test["finish"], test_full["finish"]).pvalue)
# print(stats.ks_2samp(test["curr_pace"], test_full["curr_pace"]).pvalue)
# print(stats.ks_2samp(test["total_pace"], test_full["total_pace"]).pvalue)
# print(stats.ks_2samp(test["age"], test_full["age"]).pvalue)
# print(stats.ks_2samp(test["male"], test_full["male"]).pvalue)

In [19]:
mpreds2 = get_test_preds(test, race, baseline=baseline, full=True)
intervals_tbl = add_intervals_to_test(test_preds, mpreds2, models)
i_check, i_sizes = plot_interval_checks(intervals_tbl, models, save_name=race)

File saved: analysis/plots/bos_intervals
analysis/tables/bos_intsizes.csv
analysis/tables/bos_intcheck.csv

In [20]:
# import pandas as pd
# params = pd.read_csv(f"stan_results/model3/params_{race}.csv", index_col="Unnamed: 0")
# params.describe().T[["mean", "std", "25%", "50%", "75%"]].round(4)